#background {
  background-color: #c2beb4;
  margin: 20px;
}
#img-background {
  background-color: white;
  margin: 20px;
  
}
#image {
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
}
#title {
  text-align: center;
  padding-top: 30px;
}
#sub-title {
  text-align: center;
  font-size: 20px;
}
#img-caption {
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: 10px;
}
#tribute-info {
  text-align: center;
}
#tribute-continue {
  text-align: center;
  padding: 50px;
  background-color: green;
  font-size: 20px;
}
#tribute-link {
  text-align: center;
  font-size: 20px;
}
#tribute-message {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  background-color: pink;
	width: 50%;
	margin: 0 auto;
}
#cite {
  font-style: italic;
  font-size: 16px;
  text-align: left;
  background-color: pink;
	width: 50%;
	margin: 0 auto;
  padding-top: 20px;
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    background-color: yellow;
}
li {
    background-color: blue;
}
